#heading-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

#title-login{
    font-size: 36px;
    line-height: 47px;
    margin-top: 11px;
}

#subtitle-login{
    font-family: 'IBM Plex Sans', 'sans-serif';
    font-size: 16px;
    font-weight: 300;
    line-height: 20.8px;
}

#primary-button-login{
    margin-top: 56px;
}

#divider-login{
    margin: 18px 0;
}