*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.container{
    margin: 0 32px;
    padding: 132px 0 0 0;
}

.page-title{
    font-family: 'IBM Plex Sans', sans-serif;
    color: #373737;
    font-weight: 700;
}

.form{
    display: flex;
    flex-direction: column;
}

.form-input-box{
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #D5D8DE;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 60px;
}

.form-input{
    font-size: 16px;
    color: #000;
    line-height: 22px;
    height: 100%;
    padding: 15px 16px 0 16px;
    border: none;
    border-radius: 4px;
}

.form-input-label{
    pointer-events: none;
    color: #373737;
    position: absolute;
    left: 16px;
    transition: all 0.2s ease-out;
    /* transform-origin: left; */
    transform: translate(0, 18px) scale(1);
}

.form-input-box:focus-within .form-input-label{
    transform: translate(-7px, 6px) scale(0.75);
}

.active{
    transform: translate(-7px, 6px) scale(0.75);
}

.form-input-box:focus-within .form-input{
    outline: none;
}

.button{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    border-radius: 27px;
    padding: 13px 0px;
    width: 100%;
    cursor: pointer;
}

.primary-button{
    color: white;
    border: none;
    background: linear-gradient(90deg, #FF6489 0%, #F9B24E 100%);
}

.divider{
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg, #FF6489 0%, #F9B24E 100%);
}

.secondary-button{
    background: transparent;
    color: #FE7E02;
    border: 1px solid #FE7E02;
}   