*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.container{
    margin: 0 32px;
    padding: 32px 0 0 0;
}

.header{
    background-color: #EDEDED;
    height: 50px;
    padding: 0 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.invisible{
    visibility: hidden;
}

.header-logo{
    height: 28px;
    grid-column: 2 / 3;
    justify-self: center;
}

.header-anchor{
    justify-self: end;
}

.page-title{
    font-family: 'IBM Plex Sans', sans-serif;
    color: #373737;
    font-weight: 700;
}

.form{
    display: flex;
    flex-direction: column;
}

.form-input-box{
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #D5D8DE;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 60px;
}

.form-input{
    font-size: 16px;
    color: #000;
    line-height: 22px;
    height: 100%;
    padding: 15px 16px 0 16px;
    border: none;
    border-radius: 4px;
}

.form-input-label{
    pointer-events: none;
    color: #373737;
    position: absolute;
    left: 16px;
    transition: all 0.2s ease-out;
    /* transform-origin: left; */
    transform: translate(0, 18px) scale(1);
}

.form-input-box:focus-within .form-input-label{
    transform: translate(-7px, 6px) scale(0.75);
}

.active{
    transform: translate(-7px, 6px) scale(0.75);
}

.form-input-box:focus-within .form-input{
    outline: none;
}

.button{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    border-radius: 27px;
    padding: 13px 0px;
    width: 100%;
    cursor: pointer;
}

.primary-button{
    color: white;
    border: none;
    background: linear-gradient(90deg, #FF6489 0%, #F9B24E 100%);
}

.divider{
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg, #FF6489 0%, #F9B24E 100%);
}

.secondary-button{
    background: transparent;
    color: #FE7E02;
    border: 1px solid #FE7E02;
}   

.anchor{
    color: #4088CB;
    text-decoration: none;
}

.anchor-weak{
    font-weight: 500;
}

.anchor-strong{
    font-weight: 600;
    font-size: 18px;
}

.textbox{
    width: 100%;
    height: 130px;
    border-radius: 12px;
    background-color: #EDEDED;
    border: none;
    font-size: 18px;
    font-family: "IBM Plex Sans", "sans-serif";
    font-weight: 400;
    color: #6F6F6F;
    line-height: 23px;
    padding: 18px;
}

.postbox-box{
    background-color: #FBFBFB;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.postbox-user{
    font-size: 12px;
    color: #6F6F6F;
}

.postbox-title{
    font-size: 18px;
    font-weight: 400;
    font-family: "IBM Plex Sans", "sans-serif";
    line-height: 23px;
}